<% include ./partials/header.ejs %>

      <div class="container">
        <div class="jumbotron">

  <h1 class="display-4">Welcome <%= title %></h1>

<% if(title=="Favourit"){%>
<a class="btn btn-primary" href="/fvList" role="button">Favourit List</a>
<%} %>

 <% include ./partials/footer.ejs %>